{{!-- 
   includes/footer.hbs

   SEO
   title  : Most important SEO tag
   description
   keywords
   author
   copyright
--}}
<div class="footer center">
    <h2 class="footer__title">Echtegentenaarlaan 1<br>9000 Gent<br>België<br><br>0474 58 78 96</h2>
</div>