{{!-- 
   includes/head-seo.hbs

   SEO
   title  : Most important SEO tag
   description
   keywords
   author
   copyright
--}}
<h1 class="text--bold text--primary">Log in</h1>
<form>
    <input type="text" placeholder="Voer je gebruikersnaam in" id="loginUsername">
    <input type="password" placeholder="Voer je wachtwoord in" id="loginPassword">
    <button class="margin btn wide" type="button" id="loginBtn">Login</button>
</form>
<p class="center">Geen account? <span><a href="register.html">Registreer hier!</a></span></p>