.article_projects__container {
    position: relative;
    overflow: hidden;
    float: left;
    width: 30%;
    height: 100%;
    border-radius: 15px;
    background: #fff;
    box-shadow: 3px 3px 15px rgba(156, 156, 156, 0.2);
    margin: 1.668%;
  
    @include desktop-tab-med2 {
      overflow: hidden;
      float: left;
      width: 46.668%;
    }

    @include desktop-medium2-to {
      overflow: hidden;
      float: left;
      width: 30%;
    }

    .article_projects {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: 0;

      & img {
        transition: all 1s cubic-bezier(.55,.085,0,.99) .1s;
        width: 100%;
      }
        
      &:hover img {
        @include desktop-tab-med2 {
            transform: scale(1.1);
        }
        @include desktop-medium2-to {
            transform: scale(1.1);
        }
      }
        
      .project__card__title {
        position: absolute;
        top: 20px;
        left: 20px;
        margin: 0;
        background: $primary;
        color: white;
        padding: 0px 10px;
        font-size: 20px;
        font-weight: bold;
      }
  
      &:hover .project__card__likes {
        opacity: 1;
        @include desktop-tab-med2 {
            opacity: 1;
        }
        @include desktop-medium2-to {
            opacity: 1;
        }
      }

      &:hover .project__card__views {
        opacity: 1;
        @include desktop-tab-med2 {
            opacity: 1;
        }
        @include desktop-medium2-to {
            opacity: 1;
        }
      }

    }
  
    .project__card__views {
      position: absolute;
      bottom: 20px;
      left: 20px;
      margin: 0;
      padding: 0;
      opacity: 1;
      transition: 0.5s ease;
      font-size: 20px;
    }
  
    .project__card__likes {
      position: absolute;
      background: none;
      border: none;
      bottom: 20px;
      right: 20px;
      opacity: 1;
      transition: 0.5s ease;
      z-index: 99;
      font-size: 20px;
    }

  }