{{!-- pages/news.hbs --}}

{{#> layouts/base title="Contact | New Media Development | Artevelde University College Ghent" pathToRoot="./" }}

  {{#*inline "head-block"}}
  {{/inline}}

  {{#*inline "content-block"}}
    <div class="fb-grid__container main">
        <h1 class="center">Nieuws</h1>
        <div class="wrapper wrapper__news">
            <a href="#" class="article__news">
                <img class="thumbnail__news" src="http://www.a1carpet-to.com/wp-content/uploads/2015/08/600x400.png">
                <h2 class="center">Hackaton 2018</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis at hic veniam modi? Quia minus facere, totam blanditiis a numquam quam maiores deleniti vel, omnis veniam nisi voluptatem consequuntur pariatur...</p>
            </a>
        </div>
        <div class="wrapper wrapper__news">
            <a href="#" class="article__news">
                <img class="thumbnail__news" src="http://www.a1carpet-to.com/wp-content/uploads/2015/08/600x400.png">
                <h2 class="center">Hackaton 2018</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis at hic veniam modi? Quia minus facere, totam blanditiis a numquam quam maiores deleniti vel, omnis veniam nisi voluptatem consequuntur pariatur...</p>
            </a>
        </div>
        <div class="wrapper wrapper__news">
            <a href="#" class="article__news">
                <img class="thumbnail__news" src="http://www.a1carpet-to.com/wp-content/uploads/2015/08/600x400.png">
                <h2 class="center">Hackaton 2018</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis at hic veniam modi? Quia minus facere, totam blanditiis a numquam quam maiores deleniti vel, omnis veniam nisi voluptatem consequuntur pariatur...</p>
            </a>
        </div>
        <div class="wrapper wrapper__news">
            <a href="#" class="article__news">
                <img class="thumbnail__news" src="http://www.a1carpet-to.com/wp-content/uploads/2015/08/600x400.png">
                <h2 class="center">Hackaton 2018</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis at hic veniam modi? Quia minus facere, totam blanditiis a numquam quam maiores deleniti vel, omnis veniam nisi voluptatem consequuntur pariatur...</p>
            </a>
        </div>
        <div class="wrapper wrapper__news">
            <a href="#" class="article__news">
                <img class="thumbnail__news" src="http://www.a1carpet-to.com/wp-content/uploads/2015/08/600x400.png">
                <h2 class="center">Hackaton 2018</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis at hic veniam modi? Quia minus facere, totam blanditiis a numquam quam maiores deleniti vel, omnis veniam nisi voluptatem consequuntur pariatur...</p>
            </a>
        </div>
        <div class="wrapper wrapper__news">
            <a href="#" class="article__news">
                <img class="thumbnail__news" src="http://www.a1carpet-to.com/wp-content/uploads/2015/08/600x400.png">
                <h2 class="center">Hackaton 2018</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis at hic veniam modi? Quia minus facere, totam blanditiis a numquam quam maiores deleniti vel, omnis veniam nisi voluptatem consequuntur pariatur...</p>
            </a>
        </div>
        <div class="wrapper wrapper__news">
            <a href="#" class="article__news">
                <img class="thumbnail__news" src="http://www.a1carpet-to.com/wp-content/uploads/2015/08/600x400.png">
                <h2 class="center">Hackaton 2018</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis at hic veniam modi? Quia minus facere, totam blanditiis a numquam quam maiores deleniti vel, omnis veniam nisi voluptatem consequuntur pariatur...</p>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
  {{/inline}}

  {{#*inline "scripts-block"}}
  {{/inline}}

{{/layouts/base}}